<html>
    <head>
    </head>
    <body>
        <p> Server Time:  <%= server %> </p>
        <p> Your Time:  <%= time %>  </p>
        <p> Your Timezone: <%= timezone %> </p>
        <p> Your IP Address: <%= ipaddr %> </p>
        <p> Your Location: <%= locate %> </p>
        <b> <%= warn %> </b>
    </body>
</html>